<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="welcome-message">
        <h1>Bem-vindo de volta!</h1>
        <p>Faça login para acessar sua conta.</p>
    </div>
    
    <div id="container-login">

        <div id="profile-circle">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="User Icon">
        </div>
        <h1>Login</h1>
        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div id="alerta">
                {{mensagens[0]}}
            </div>
        {% endif %}
        <form action="login" method="post">
            <section id="login">
                <label for="nome">Nome do Usuário</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome de usuário" required>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                <button type="submit" id="btn-entrar" value="entrar">Login</button>
            </section>
        </form>
        <p style="color: #bbb;">Não tem uma conta? <a href="{{ url_for('register') }}" style="color: #007BFF;">Registrar Agora</a></p>
    </div>
</body>
</html>
