<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <div id="container-login">
        <div id="profile-circle">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="User Icon">
        </div>
        <h1>Registrar</h1>
        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div id="alerta">
                {{mensagens[0]}}
            </div>
        {% endif %}
        <form action="{{ url_for('register') }}" method="post">
            <section id="login">
                <label for="nome">Nome de Usuário</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome de usuário" required>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                <button type="submit" id="btn-entrar" value="entrar">Registrar</button>
            </section>
        </form>
        <p style="color: #bbb;">Já tem uma conta? <a href="{{ url_for('home') }}" style="color: #007BFF;">Login</a></p>
    </div>
</body>
</html>
